hello account
<p>ID: {{user.id}}</p>
<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>
<a href="profile/photos"> View my photos</a>
<img src="{{url}}" class="img-responsive" class="img hashtag-img">